.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(176,136,154);
  background: radial-gradient(circle, rgba(176,136,154,1) 0%, rgba(14,90,179,1) 100%);

  .login-card {
    display: flex;
    flex-direction: column;
    width: 40vw;

    .login-header {
      display: inline;
      text-align: center;
      height: min-content;
      padding: 10px 0;
    }
  }
}
